name: Build test and deploy

on:
  push:
    branches:
      - main  # Adjust the branch name as needed

permissions:
  contents: write
  repository-projects: write

jobs:
  build-test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # - name: Set up Node.js
      #   uses: actions/setup-node@v3
      #   with:
      #     node-version: 18  # Adjust the Node.js version as needed

      # - name: Install dependencies
      #   run: npm ci  # Replace with your dependency installation command
      #   working-directory: backend

      # - name: Run tests
      #   run: npm test  # Replace with your test command
      #   working-directory: backend

      - name: Generate Git SHA
        id: git_sha
        run: echo "::set-output name=sha::$(git rev-parse --short HEAD)"

      # - name: Login to Docker Hub
      #   run: docker login -u kaushikkishore -p ${{ secrets.DOCKER_PASSWORD }}

      # - name: Build Docker image
      #   working-directory: backend
      #   run: |
      #     docker build -t kaushikkishore/astuto-web-app:${{ steps.git_sha.outputs.sha }} .
      #     docker tag kaushikkishore/astuto-web-app:${{ steps.git_sha.outputs.sha }} kaushikkishore/astuto-web-app:latest

      # - name: Push Docker image
      #   run: |
      #     docker push kaushikkishore/astuto-web-app:${{ steps.git_sha.outputs.sha }}
      #     docker push kaushikkishore/astuto-web-app:latest
  Deployment: 
    runs-on: ubuntu-latest
    needs: build-test-and-deploy

    steps:
      - name: Configure Git
        run: |
          gh auth login --with-token <<<"${{ secrets.GITHUB_TOKEN }}"

      - name: Checkout Kubernetes code
        run: |
          gh repo clone kaushikkishore/k8s-deployment
          cd k8s-deployment
          ls -al
        
      - name: Update Deployment YAML
        run: |
          ls -al
          sed -i '/image:/s/:.*/: kaushikkishore\/astuto-web-app:${{ needs.build-test-and-deploy.outputs.sha }}/' k8s-deployment/astuto-web-app/deployment.yaml

      - name: Debugging
        run: |
          ls -al
          cat deployment.yaml

      - name: Commit and Push
        run: |
          git config user.email "kk12391@gmail.com"
          git config user.name "Kaushik Kishore"
          gh auth login --with-token <<<"${{ secrets.GITHUB_TOKEN }}"
          git add deployment.yaml
          git commit -m "Update Docker image in deployment to Git SHA: ${{ steps.git_sha.outputs.sha }}"
          git push origin main

      
